<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
  <style>
    body{
      background-color: #202020;
      text-align: center;
    }
    h1 {
      text-align: center;
      color: darkgray;
    }
    img{

      border: 2px solid black;
      border-radius: 100%;
      width: 300px;
      height: 500px;

    }
    p {
      color: white;
    }
  </style>
</head>
<body>
<h1>Michael Roberts</h1>
<img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/934103_1742568432633467_3363234494708611223_n.jpg?oh=878a7da10d75807f7ff92d8e7dda63cf&oe=5905FD30">
<p>About</p>
<hr>


</body>
</html>
