<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MikeyRobby</title>
  <style>
    body {
      background: #202020;
    }
    header{
      text-align: center;
      font-size: 70px;
      color: white;
    }

    header img{
      margin: 40px 0 0 0;
      width: 200px;
      height: 200px;
      border: 2px solid white;
      border-radius: 20px;
    }
  </style>
</head>
<body>
<header>
<img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/12932565_1162227173790043_4320504697863998680_n.jpg?oh=f07dcabcbb71caa63622d62954dd5e28&oe=58FF7CA7">
<h1>MikeyRobby</h1>
<h3>Student. Programmer. Entrepreneur.</h3>
</header>
</body>
</html>
