html{
  margin:0;
  padding:0;
  border: none;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

body{
  background: url("burger.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  color: white;
  height: auto;
  width: auto;
}

h1{
  font-size: 6em;
}
